.transaction-history {
  padding: 0;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  border: 2px gray solid;
}

.transaction-history thead {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 48px;
  font-weight: 700;
  background-color: blue;
  text-transform: uppercase;
}

.transaction-history th {
  padding: 20px;
  width: 450px;
  border-right: 2px gray solid;
}

.transaction-history tbody tr {
  /* background-color: lightgray; */
}

.transaction-history td {
  /* margin-top: 50px; */
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 36px;
  font-weight: 500;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px gray solid;
  
}
